<template name="layout">

  <div class="ui grid">

      <div class="sixteen wide column">

            <div class="ui inverted menu">

                  <div class="item">
                    {{> loginButtons}}
                  </div>

                  {{#if currentUser}}

                    <div class="item">
                      <a href="{{pathFor route="home"}}">Map</a>
                    </div>

                    <div class="ui simple dropdown item">
                      Upload
                      <i class="dropdown icon"></i>
                        {{> markerform}}
                    </div>

                    <!-- <div class="item" id="item">
                      <input type="button" class="wrapper" name="some_name" value="">
                      {{> markerform}}
                    </div> -->

                  {{/if}}

            </div>
      </div>




            {{#if currentUser }}
              {{> yield}}
            {{else}}
              {{> prompt}}
            {{/if}}



  </div>


</template>
