<template name="layout">

  <div class="ui grid">

      <div class="sixteen wide column">

            <div class="ui inverted menu">

                  <div class="item">
                    {{> loginButtons}}
                  </div>

                  {{#if currentUser}}

                    <div class="item">
                      <a href="{{pathFor route="home"}}">Home</a>
                    </div>

                    <div class="item">
                      {{> markerform}}
                    </div>

                  {{/if}}

            </div>
      </div>


      <!-- <div class="sixteen wide column"> -->

            {{#if currentUser }}
              {{> yield}}
            {{/if}}

      <!-- </div> -->


  </div>


</template>
