<template name="map">
  <!-- javascript and css in html lol need to fix -->
  <style>
    body { margin:0px; padding:0px; }
    #map { position:absolute; top:40px; bottom:0px; width:100%; right:0px; left:0px; }
  </style>

  <div id="map"></div>

  <script>
    // todo - center map to geolocation coords
    L.mapbox.accessToken = 'pk.eyJ1IjoianVsc2FudGFuYSIsImEiOiIxRzM0SmhNIn0.0ZzDMXxGti5sXpTwai0TXA';
    var map = L.mapbox.map('map', 'julsantana.lia8ji15').setView([37.7833, -122.4167], 12)
    // primary layer we will be working with
    var markerLayer = L.mapbox.featureLayer().addTo(map);



    markerLayer.on('click', function(e) {
      var marker_id = e.target._geojson[0]._id
      map.panTo(e.layer.getLatLng());
      window.location.replace(e.layer.feature.properties.url);
    });

    markerLayer.on('mouseover', function(e) {
      e.layer.openPopup();
    });

    markerLayer.on('mouseout', function(e) {
      e.layer.closePopup();
    });



    // keep for new page loads
    var geoJsonArr = []
    /// {'user_id': Meteor.userId()}
    MarkersCollection.find().forEach(function (marker) {
      geoJsonArr.push(marker);
    });
    markerLayer.setGeoJSON(geoJsonArr);

    // add simulate friends button and event listener for dummy account
      var button = document.createElement('button');
      button.id = "simulate";
      button.innerText = "Simulate Friends";
      var inside = false;

            $('#map').on('mouseenter',function(){
              inside = true;
              setTimeout(function(){
                if(MarkersCollection.find().count() == 0 && inside == true){
                  $(button).css('left', ((window.innerWidth/2) - (115/2)) );
                  $(button).css('bottom',((window.innerHeight/2) - (24/2)) );
                  document.body.appendChild(button);
                  $('#map').css('opacity',0.3);
                  $('#simulate').on('click',function(){
                    Meteor.call("simulateFriends", function(error, result){
                      if(result){
                        $('#map').css('opacity',1);
                        document.body.removeChild(button);
                      }else{
                        console.log(error);
                      }
                    });
                  })
                }
              },1500)
            });

            $('#map').on('mouseleave',function(e){
              inside = false;
              if(e.toElement.id !== 'simulate'){
                $('#map').css('opacity',1);
                document.body.removeChild(button);
              }
            });

            $('.ui.inverted.menu').on('mouseenter',function(){
              inside = false;
              document.body.removeChild(button);
              $('#map').css('opacity',1);
            });


    // $('.leaflet-marker-pane').on('mouseover','img.leaflet-marker-icon',function(event){
    //   var popupDiv = document.createElement('div');
    //   popupDiv.className = 'popup';
    //   var title = event.currentTarget.title;
    //   popupDiv.id = 'popup' + title;
    //   console.log(event);
    //   MarkersCollection.find().forEach(function(marker){
    //     if( marker.properties.title === title ){
    //       console.log('matching titles');
    //       console.log('photo_id:' + marker.photo_id);
    //       var image = Images.findOne({_id:marker.photo_id});
    //       image.id = "popup-img";
    //       console.log('markers image:' + image);
    //       var imageTag = document.createElement('img');
    //       imageTag.id = 'popup-img';
    //       imageTag.src = image.url();
    //       popupDiv.appendChild(imageTag);
    //       console.log('Adding popup to map');
    //       document.body.appendChild(popupDiv);
    //     }
    //   });
    // });
    //
    // $('img').on('mouseleave','leaflet-marker-icon', function(event){
    //   var id = '#popup' + event.fromElement.title;
    //   console.log(id);
    //   var previous = $(id)[0];
    //   document.body.removeChild(previous);
    //   console.log(event);
    // })

  </script>
</template>
