<template name="about">
  <div class="sixteen wide column center aligned">
    <div class="ui list">
      <div class="item">
        <div class="description">To upload an Epik click the upload button and fill out the dropdown</div>
      </div>
      <div class="item">
        <div class="description">Upon creation your Epik will appear as a marker on the map</div>
      </div>
      <div class="item">
        <div class="description">Hover marker to see title & description</div>
      </div>
      <div class="item">
        <div class="description">Click marker to view Epik show page</div>
      </div>
      <div class="item">
        <div class="description">On any Epik show page like the Epik - add comments - and like comments</div>
      </div>
    </div>
  </div>
</template>
