<template name="about">

  <div class="sixteen wide column center aligned" id="layout">
    <div class="ui inverted relaxed list">
      <div class="item">
        <div class="description">To upload an Epik locate the upload dropdown at the top of your screen.</div>
      </div>
      <div class="item">
        <div class="description">Select a picture to upload then give your Epik a title and short description.</div>
      </div>
      <div class="item">
        <div class="description">A marker will be placed on the interactive map at your current location.</div>
      </div>
      <div class="item">
        <div class="description">Hover over an Epik's marker to see a preview of it's Title and Short Description.</div>
      </div>
      <div class="item">
        <div class="description">To view an Epik click on it's marker.</div>
      </div>
      <div class="item">
        <div class="description">If you like an Epik make sure to say so in the comments! Or simply click the like button. Or both!</div>
      </div>
    </div>
  </div>
</template>
