<template name="markerform">

  <div class="menu">

        <form class="add-marker-form">

        <div class="item" id="input-wrapper">
          <input type="text" class="input-cover" name="some_name" value="No Picture Selected" size="35">
          <input type="file" name="markerImage" class="myFileInput">
        </div><br>

        <div class="item"><input type="text" name="title" id="title" placeholder="Title"></div><br>

        <div class="item"><input type="text" name="description" id="description" placeholder="Short Description"></div>

        <button class="add-marker-button ui secondary button">Create Epik</button>

        </form>
  </div>
</template>
