<template name="markershow">
  <!-- set data context of sub-index to comments -->
  <div class="sixteen wide column">


    <div class="sixteen wide column center aligned">

      <h3>{{this.properties.title}}</h3>
      <h4>{{this.properties.description}}</h4><br><br>


    </div>




    <div class="ui grid center aligned">

          <div class="eight wide column left aligned">

                {{#each comments}}



                      <div class="comment">{{> commentshow}}</div>



                {{/each}}

          </div><br>

          <div class="eight wide column">
            {{> commentform}}
          </div>

    </div>

  </div>
</template>
