<template name="markershow">
  <!-- set data context of sub-index to comments -->
  <div class="sixteen wide column">


    <div class="sixteen wide column center aligned" id="imageAndMessage">

      <div class="ui segment">

        {{> markerimageshow }}

        <div class="ui visible message">


              {{this.properties.title}} | {{this.properties.description}} |




              {{this.countdown}} minutes  | {{this.likes.num}} likes  <i class="thumbs up icon"></i>

        </div>






      </div>





    </div>



    <div class="ui grid center aligned" id="showPageGrid">

          <div class="eight wide column left aligned" id="top">

            <br>

            <div class="ui comments">
              <h3 class="ui dividing header">Comments</h3>


                {{#each comments}}



                      <div class="comment">{{> commentshow}}</div>



                {{/each}}

              </div>

          </div><br>

          <!-- <div class="eight wide column">

          </div><br> -->

          <div class="eight wide column" id="bottom">
            <div class="ui divider"></div>
            {{> commentform}}
          </div>

    </div>

  </div>
</template>
